body{
      overflow: hidden;
      margin: 0; 
      height: 100%; 
      background-color: black;
      color : white;

};
.opis{
      position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

